@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&family=Roboto&display=swap');
* {
    margin: 0;
    padding:0;
    border: none;
}

body {
    font-family: 'Oxygen', sans-serif;
    font-weight: 300px;
    color:green;
}

/* headings and logo*/
h1, h2 {
font-family:'Oxygen', sans-serif; ;
text-transform: uppercase;
letter-spacing: 4px;
color:rgb(59, 56, 56);
}

#logo {
    float:left;
    font-size: 280%;
    margin-left: 30px;
    }
/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;

}

#menu li{
    float:right;
    list-style-type: none;
    margin-right: 30px;
}
#menu a {
    text-decoration: none;
    color: inherit;
}
#menu a:hover {
    border-bottom:1px solid grey;
}

.acitve {
    border-bottom: 1px solid grey;
}

/* hero image*/
#hero-outer {
    height: 600px;
    width: 100%;
    overflow:hidden;

    position: relative;
}

#cover-text, #cover-text h2 {
    color:rgb(59, 56, 56)

}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../css/images/weights\ crossfit.jpg') no-repeat center center;

/* animates zoom effects on the loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates zoom effects for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
#cover-text {
    font-size: 100%;
    font-size: 'Oxygen', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 250px;
    height: 150px;

    padding-bottom: 10px;
    padding-left: 10px;

    background-color: rgb(71, 168, 95, .5);
    
    bottom:10px;
    left:150px;

    position:absolute;
}
/* club ethos */

#club-ethos {
 height: 600px;
}

#left-about {
    padding-top:30px;
    width: 33%;
    float: left ;
}
#right-about {
    padding-top:30px;
    width: 33%;
    float: right;
}
#center-about {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid red;
    width: 100%;
    margin: 5px;
}
.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom:50px;
}
.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom:50px;
}

.right-about-heading h2{
    text-align: right;
}
.right-about-heading p {
    text-align: right;
}

#welcome {
    text-align: center;
    margin: 50px 0;
    font-size:280%;

}
#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: red;
    border: width 1px;
    border-radius: 50px;
}
#circle-cover-bg {
    background: url('../css/images/barbell\ clip\ attaching.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50px;
}