@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&family=Roboto&display=swap');
* {
    margin: 0;
    padding:0;
    border: none;
}

body {
    font-family: 'Oxygen', sans-serif;
    font-weight: 300px;
    color:rgb(94, 90, 90);
}

/* headings and logo*/

h1, h2 {
font-family:'Oxygen', sans-serif; ;
text-transform: uppercase;
letter-spacing: 4px;
color:rgb(5, 117, 48);

}

#logo {
    float:left;
    font-size: 280%;
    margin-left: 50px;
    }

    
/* navigation links */

#menu {

    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
    width: 100%;
  
}

#menu li{
    float:right;
    list-style-type: none;
    margin-right: 30px;
}
#menu a {
    text-decoration: none;
    color: inherit;
}
#menu a:hover {
    border-bottom:1px solid rgb(94, 90, 90);
}

.acitve {
    border-bottom: 1px solid rgb(94, 90, 90);
}

/* hero image*/

#hero-outer {
    height: 600px;
    width: 100%;
    overflow:hidden;

    position: relative;
}

#cover-text, #cover-text h2 {
    color:white;

}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../css/images/weights\ crossfit.jpg') no-repeat center center;

/* animates zoom effects on the loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates zoom effects for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
#cover-text {
    font-size: 100%;
    font: 'Oxygen', sans-serif;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 250px;
    height: 150px;

    padding-bottom: 10px;
    padding-left: 10px;

    background-color:rgb(5, 117, 48,.6);
    
    bottom:10px;
    left:150px;

    position:absolute;
    top: 30px;
}
/* club ethos */

#club-ethos {
 height: 600px;
}

#left-about {
    padding-top:30px;
    width: 33%;
    float: left ;
}
#right-about {
    padding-top:30px;
    width: 33%;
    float: right;
}
#center-about {
    margin: auto;
    width: 20%;
    padding: 10px;
    height: 300px;

}

hr {
    border-top: 1px solid rgb(5, 117, 48);
    width: 100%;
    margin: 5px;
}
.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom:50px;
}
.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom:50px;
}

.right-about-heading h2{
    text-align: left;
}
.right-about-heading p {
    text-align: left;
}

#welcome {
    text-align: center;
    margin: 50px 0;
    font-size:280%;

}
#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color:rgb(5, 117, 48);
    border: width 1px;
    border-radius: 50px;
}
#circle-cover-bg {
    background: url('../css/images/barbell\ clip\ attaching.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50px;
}

/* packages*/

#packages {
    background-image: url('../css/images/raise\ the\ bar.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    overflow: hidden;

}

#packages div {
    color: rgb(94, 90, 90);
    background-color:rgb(245, 229, 229, .6);
    width: 25%;
    height: 200px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border:2px solid white;
    box-sizing: border-box;
    letter-spacing: 4px;
}

#packages h3
{
    color: black;
}
/* footer*/

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: rgb(5, 117, 48);
}
    

/* gallery*/

#photos {
    clear:both;
    line-height: 0;
    column-count: 4;
    column-gap: 1px;
}

#photos >img {
width: 100%;
}
/* media queries */


/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #club-ethos {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #welcome {
        padding: 30px 0;
        margin: 0;
    }

    #left-about, #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }

    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    hr {
        display: none;
    }
}
/* for medium creen sizes from 950px wide and down*/
@media screen and (max-width:950px) {
#menu {
        clear: left;
        float:left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }
#cover-text {
    left:0;
    }
#club-ethos {
    width: 90%;
    height: 1200px;
    margin: 0 auto;
}
.left-about-heading h2, .right-about-heading h2 {
   width: inherit; 
   text-align: center;
}
.left-about-heading p, .right-about-heading p {
text-align: center;
padding: 0 20px;
}
#photos {
    column-count: 3;
}

}

@media only screen and (min-width: 320px) and (max-width: 767px) { 
    #photos {
        column-count: 2;
    }
}

/* contact form */

form {
    max-width: 100%;
    margin-left: 30px;
    margin-top: 80px;
    padding: 250px 250px 250px;
    border: 3px solid rgb(5, 117, 48);
    border-radius: 8px;
    background-size: cover;
    background: url('../css/images/gallery\ 1.jpg') no-repeat center center;
    background-position:center;
}


legend {
    font-size: 25px;
    font-weight: bold;
    padding: 0 .25em;
    color:  rgb(5, 117, 48);
}

/* labels in the contact form */

.checks {
    margin-top: 0;
}

#frame {
    border: 1px solid rgb(5, 117, 48);
    padding: 10px;

}
input{
    border: 1px solid rgb(5, 117, 48);
    padding: 10px;
    width: 50%;
    float: left;
    font-size: 17px;
    font-family:'Oxygen', sans-serif;
    border: 1px solid white;
    }

textarea {
    min-height: 50px;
    min-width: 50%;
    padding: 3px 6px 8px;
    border: 1px solid rgb(5, 117, 48);
    background: yellow;
    position: relative;
    resize:vertical;
    max-height: 300px;
   
}


